@font-face {
  font-family: "ABeeZee";
  src: url("abeezee-webfont.woff2") format("woff2"),
    url("abeezee-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Agbalumo";
  src: url("agbalumo-webfont.woff2") format("woff2"),
    url("agbalumo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.navbar-brand img {
  width: 8rem;
  height: auto;
  margin-left: 1rem;
}

.navbar-collapse {
  display: flex;
  justify-content: end;
  margin-right: 1rem;
}

.collapse {
  display: flex-column;
}

.navbar-nav {
  gap: 1.5rem;
  font-size: 1.25rem;
}

.hero-section {
  display: table;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/travel-background.jpg");
  background-position: center center;
  height: 100vh;
  object-fit: cover;
  color: white;
  text-align: center;
}

.hero-section h1 {
  margin: 15rem 10rem 0 10rem;
}

.hero-section p {
  margin: 2rem 10rem;
}

.hero-section a {
  color: white;
  text-decoration: none;
}

.hero-section a:hover {
  color: #336a86;
}

@media screen and (max-width: 980px) {
  .hero-section h1 {
    margin: 10rem 1rem 0 1rem;
  }

  .hero-section p {
    margin: 1rem 1rem;
  }
}

.destinations-section {
  margin-top: 10rem;
  margin-bottom: 10rem;
  text-align: center;
}

.destinations-section h1 {
  text-align: center;
  color: #336a86;
  margin-bottom: 4rem;
}
